<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guanhf.mapper.CategoryMapper">

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="id">
        insert into category(name, description)
        values (#{name}, #{description})
    </insert>
    <update id="updateCategory">
        update category set name = #{name}, description = #{description}
        where id = #{id}
    </update>
</mapper>
